.terningContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 5;
}
.terning{
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}
button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    
}